body{
    margin-top:0;
    padding:0;
}
.libpage{
    display: grid;
    grid-template-columns: 30% 70%;
}
.book-form{
    border: groove;
    background-color: #bef264 ;
    height: 100vh;
}
.right{
    display: grid;
    border: groove;
    background-color: #bfdbfe ;
    height: auto;
    overflow: auto;
}
#Read{
margin-top: 10px;
}
.books{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#add-book{
display: flex;
flex-direction: column;
align-items: center;
}
#submit, #reset,.addbookbtn{
    height: 50px;
    border-radius: 10px;
    border-color: #bef264;
    margin-top: 10px;
    margin-left: 60px;
    background-color: plum;
}
h2{
    margin-left: 40px;
    font-family: 'Trebuchet MS', sans-serif;
}
input{
    border-radius: 5px;
    height: 20px;
    margin-top: 10px;
}
label{
    margin-top: 10px;
}
#error{
    color: red;
    font-style: italic;
}
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-left: 8px solid greenyellow;
    border-right: 2px solid #cbd5e1;
    border-bottom: 2px solid #cbd5e1;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

p{
    margin-left: 10px;
    font-style:italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.remove-Book,.read-status-btn{
  background-color: blue;
  color: white;
  border-radius: 10px;
  border-color: blue;
  width: 200px;
  margin-left: 30px;
  margin-top: 5px;
}